In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('C:\\Users\\Jonathan\\PycharmProjects\\Raw data\\Gross Domestic Product.csv')

In [13]:
df.shape

(312, 2)

In [14]:
df.head()

  observation_date  NA000334Q
0       1947-01-01      58497
1       1947-04-01      60672
2       1947-07-01      62196
3       1947-10-01      68250
4       1948-01-01      64258